version: "{build}"

environment:
  matrix:
    - nodejs_version: "0.10"
    - nodejs_version: "0.12"
    - nodejs_version: "4"
    - nodejs_version: "5"

branches:
  only:
    - master
    - /^maint\/.+/
    - /v\d+\.\d+\.\d+/

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

cache:
  - node_modules

build: off

before_test:
  - sc config sqlbrowser start= auto
  - net start sqlbrowser

  - mkdir C:\Users\appveyor\.tedious

test_script:
  - node --version
  - npm --version

  - cmd: |
      SET EXITVAL=0

      npm run-script test || SET EXITVAL=1

      powershell %cd%\scripts\appveyor\config.ps1 SQL2008R2SP2
      npm run-script test-integration || SET EXITVAL=1
      net stop MSSQL$SQL2008R2SP2

      powershell %cd%\scripts\appveyor\config.ps1 SQL2012SP1
      npm run-script test-integration || SET EXITVAL=1
      net stop MSSQL$SQL2012SP1

      powershell %cd%\scripts\appveyor\config.ps1 SQL2014
      npm run-script test-integration || SET EXITVAL=1
      net stop MSSQL$SQL2014

      EXIT /B %EXITVAL%
