body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 90%;
}

a:visited {
  color: darkBlue;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#content {
  width: 600px;
  margin: 3em auto 1em auto;
  padding: 1em;
  background-color: #f2f2f2;
  border-left: 1px solid darkGrey;
  border-right: 1px solid darkGrey;
}

#content .page {
  display: none;
}

.ribbon {
  background-color: #a00;
  overflow: hidden;

  /* top left corner */
  position: fixed;
  left: -3em;
  top: 2.5em;

  /* 45 deg ccw rotation */
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}

.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font-size: 81.25%;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em 0.7em 3.5em;
  text-align: center;
  text-decoration: none;

  /* shadow */
  text-shadow: 0 0 0.5em #444;
}

#navigation {
  position: fixed;
  top: 5em;
  left: 5em;
  width: 12em;
}

#navigation .title a {
  font-family: 'The Girl Next Door';
  font-size: 200%;
  color: #a00;
  text-decoration: none;
}

#navigation ul li {
  margin-bottom: 0.3em;
}

h1 {
  font-family: 'The Girl Next Door';
  font-size: 200%;
  margin-bottom: 0.5em;
}
