body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

em {
  font-style: italic;
}

a,
a:visited {
  color: darkblue;
}

a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0.5em 0;
  line-height: 1.3em;
}

#content ul {
  margin-left: 1em;
}

#content ul li {
  list-style-type: disc;
  margin: 0.5em;
}

code,
.code {
  font-family: monospace;
  line-height: 1.3;
}

.function {
  font-family: monospace;
  line-height: 1.8;
  /*background: #f0f0f0;*/
  padding: 0.3em;
  border: 1px solid lightgray;
}

/*
pre .code {
  background-color: lightgray;
  border: 1px solid darkgray;
  padding: 0.5em;
  margin-bottom: 1em;
}
*/

code li {
  margin: 0.5em 0 0.5em 1em;
}

#content {
  max-width: 48em;
  margin: 2em 3em 3em 15em;
  padding: 1em;
  border-left: 1px solid darkgray;
}

#content .licence-text {
  font-family: monospace;
}

.ribbon {
  background-color: #a00;
  overflow: hidden;

  /* top left corner */
  position: fixed;
  left: -3em;
  top: 2.5em;

  /* 45 deg ccw rotation */
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  /* shadow */
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}

.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font-size: 81.25%;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em 0.7em 3.5em;
  text-align: center;
  text-decoration: none;

  /* shadow */
  text-shadow: 0 0 0.5em #444;
}

#navigation {
  position: fixed;
  top: 5em;
  left: 5em;
  width: 10em;
}

#navigation .heading {
  font-family: 'The Girl Next Door';
  font-size: 250%;
}

#navigation .heading a,
#navigation .heading a:hover,
#navigation .heading a:visited {
  color: #aa0000;
  text-decoration: none;
}

#navigation ul li {
  margin-bottom: 0.4em;
}

#navigation ul li code {
  line-height: 1;
}

#navigation ul ul {
  margin-left: 1em;
}

#search input[type=text] {
  width: 10em;
  padding: 0.2em;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 80%;
  height: 1.2em;
  border-top: 1px solid darkgray;
  background-color: white;
  padding: 0.4em;
  text-align: center;
}

.toc {
  font-family: monospace;
  margin: 1em inherit;
}

h1 {
  font-family: 'The Girl Next Door';
  font-size: 250%;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
    font-size: 150%;
    font-weight: bold;
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

h3 {
    font-size: 120%;
    font-weight: bold;
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

h3 .date {
  font-weight: normal;
  font-size: 80%;
}

h1 a,
h1 a:hover,
h1 a:visited {
  color: #aa0000;
  text-decoration: none;
}

.highlight {
    padding: 0.5em;
    margin: 0.5em;
}

.argument {
  font-size: 100%;
}

.argument .name {
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.argument .description {
  margin-left: 2em;
}

dl {
}

dt {

}

dd {
  margin: 0.2em 0 0.3em 2em;
  line-height: 1.3em;
}

table {
    border: none;
    border-collapse: collapse;
    background-color: white;
}

table th,
table td {
    border-width: 1px;
    padding: 4px;
    border-style: solid;
    border-color: gray;
    background-color: white;
}

table td.supported {
    text-align: center;
}

table th {
    font-weight: bold;
    text-align: left;
    border-width: 2px;
}

table tr.group-heading {
    font-size: 90%;
}

table tr.group-heading td {
    padding-top: 0.7em;
}

table tr.group-heading td {
    border-left: none;
    border-right: none;
}

.footnote {
    font-size: 70%;
    vertical-align: super;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}
