<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}
        {{ page.title }} |
      {% endif %}
      Tedious
    </title>

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />

    <link type='text/css' rel='stylesheet' href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door'>
    <link type="text/css" rel="stylesheet" href="style/reset.css"/>
    <link type="text/css" rel="stylesheet" href="style/tedious.css"/>
    <link type="text/css" rel="stylesheet" href="style/syntax.css"/>
  </head>

  <body>
    <div class="ribbon">
      <a href="http://github.com/pekim/tedious">
        Fork me on GitHub
      </a>
    </div>
    
   <div id="navigation">
     <h1>
       <a href="index.html">Tedious</a>
     </h1>
     
     <ul>
       <li>
         <a href="index.html">Overview</a>
       </li>
       <li>
         <a href="installation.html">Installation</a>
       </li>
       <li>
         <a href="getting-started.html">Getting started</a>
       </li>
       <li>
         <a href="api.html">API</a>
       </li>
       <li>
         <a href="licence.html">Licence</a>
       </li>
     </ul>
   </div>

    <div id="content">
      {{ content }}
    </div>
    
    <div id="footer">
      Copyright &copy; 2011 Mike D Pilsbury
    </div>
  </body>
</html>
