<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}
        {{ page.title }} |
      {% endif %}
      Tedious
    </title>

    <meta http-equiv="content-type" content="text/html;charset=utf-8" />

    <link type='text/css' rel='stylesheet' href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door'>
    <link type="text/css" rel="stylesheet" href="style/reset.css"/>
    <link type="text/css" rel="stylesheet" href="style/tedious.css"/>
    <link type="text/css" rel="stylesheet" href="style/syntax.css"/>
  </head>

  <body>
    <div class="ribbon">
      <a href="http://github.com/pekim/tedious">
        Fork me on GitHub
      </a>
    </div>

    <div id="navigation">
      <div class="heading">
        <a href="index.html">Tedious</a>
      </div>

      <ul>
        <li>
          <a href="index.html">Overview</a>
        </li>
        <li>
          <a href="installation.html">Installation</a>
        </li>
        <li>
          <a href="getting-started.html">Getting started</a>
        </li>
        <li>
          <a href="parameters.html">Using Parameters</a>
        </li>
        <li>
          <a href="api.html">API</a>
          <ul>
            <li>
              <a href="api-connection.html">
                <code>Connection</code>
              </a>
            </li>
            <li>
              <a href="api-request.html">
                <code>Request</code>
              </a>
            </li>
            <li>
              <a href="api-datatypes.html">Datatypes</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="changelog.html">ChangeLog</a>
        </li>
        <li>
          <a href="licence.html">Licence</a>
        </li>
      </ul>

      <div id="search">
        <form action="https://google.com/search">
          <input type="text" name="q"  maxlength="255" value="" placeholder="search" />
          <input type="hidden" name="sitesearch" value="pekim.github.com" />
        </form>
      </div>
    </div>

    <div id="content">
      {{ content }}
    </div>

    <div id="footer">
      Copyright &copy; 2011-2012 Mike D Pilsbury
    </div>
  </body>
</html>
